.light-panel-box{
    background: white;
    width: 70px;
    height: 100px;
    -webkit-box-shadow: 0 0 5px 3px #888888 inset;
    -moz-box-shadow: 0 0 5px 3px #888888 inset;
    box-shadow: 0 0 5px 3px #888888 inset;
    display: flex;
    position: absolute;
    left:50px;
    bottom:150px;
}

.light-panel-switch {
    transform: rotate(-90deg);
    margin: auto;
}
